@use "fonts" as ff;
@use "variables" as v;
@use "functions" as f;
@use "sass:color";
@layer partials {
  :root {
    // Générer les variables CSS pour les espaces
    // @each $name, $value in v.$values {
    //   --#{$name}: #{$value};
    // }
    // Générer les variables CSS pour les couleurs et leurs variantes hover
    @each $name, $value in v.$colors {
      --#{$name}: #{$value};
      @if ($name == "black") {
        --#{$name}-hover: #{color.scale($value, $lightness: 20%)};
      } @else {
        --#{$name}-hover: #{color.scale($value, $lightness: -20%)};
      }
    }
    // gradients
    @each $name, $gradient in v.$gradients {
      --gradient-#{$name}: #{$gradient};
    }
  }
  html, body { height: 100%; }

  body{
    font-family: ff.$mainFont;
    background-color: var(--black);
    color: var(--black);
    font-size: f.rem(16);
    line-height: 1.5;
    margin: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
