$colors: (
  "brand": #E96103,
  "brand-grey": #1C1C1C,
  "border-color": #333333,
  "black": #0B0B0B,
  "white": #ffffff,
  "body": #aaa,
  "grey": rgb(242, 242, 242),
  "red": #dc3545,
  "green": #28a745,
);

$gradients: (
  "brand": linear-gradient(225deg, var(--brand) 100%, var(--brand-dark) 0%),
);

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);
